<%# add navigation links to this file %>
<li class="hidden">
  <a href="#page-top"></a>
</li>
<li>
  <a class="page-scroll" href="<%= root_path %>#products">Products</a>
</li>
<li>
  <a class="page-scroll" href="<%= root_path %>#about">About</a>
</li>
<li>
  <a class="page-scroll" href="<%= root_path %>#contact">Contact</a>
</li>
<% if user_signed_in? %>
<li><%= link_to 'Account', edit_user_registration_path %></li>
<li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
<li><%= link_to 'Log in', new_user_session_path %></li>
<li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>